body{
font-family: Arial;
background: linear-gradient(135deg,#667eea,#764ba2);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.login-container{
background:white;
padding:30px;
border-radius:10px;
width:300px;
text-align:center;
box-shadow:0 10px 25px rgba(0,0,0,0.3);
}

input{
width:100%;
padding:10px;
margin:10px 0;
border:1px solid #ccc;
border-radius:5px;
}

button{
width:100%;
padding:10px;
background:#007BFF;
border:none;
color:white;
font-weight:bold;
cursor:pointer;
border-radius:5px;
}

button:hover{
background:#0056b3;
}

#error{
color:red;
font-size:14px;
}